<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>倒计时</title>
</head>
<body>
    <div class="title"></div>
    <div class="countdown">
        <div class="countdown-item">
            <span class="countdown-num">00</span>
            <span class="countdown-unit">天</span>
        </div>
        <div class="countdown-item">
            <span class="countdown-num">00</span>
            <span class="countdown-unit">时</span>
        </div>
        <div class="countdown-item">
            <span class="countdown-num">00</span>
            <span class="countdown-unit">分</span>
        </div>
        <div class="countdown-item">
            <span class="countdown-num">00</span>
            <span class="countdown-unit">秒</span>
        </div>
    </div>
    <script src="./index.js"></script>
</body>